<section class="card">
    <h2 class="card-header"></h2>
        <div class="card-body">
            <div>
                {{comment.text}}
            </div>
            <div>
                <p>- {{user.username}}, {{format_date date_created}}
            </div>
        </div>

</section>