<section class="card">
    <h2>Edit Post</h2>
   
    <form>
        <label>Title</label>
        <input class="form-input" type="text" value="{{post.title}}">
        <label>Content</label>
        <input class="form-input" type="text" value="{{post.content}}">
        <button type="submit">Update</button>
        <button type="submit">Delete</button>
    </form>

    <button type="submit"><a href="/new-post">New Post</a></button>
</section>

<script src="./js/edit-post.js"></script>
<script src=".js/delete-post.js"></script>