<section class="card">
    <h2>Create a New Post</h2>
   
    <form>
        <label>Title</label>
        <input class="form-input" type="'text">
        <label>Content</label>
        <input class="form-input" type="text">
        <button type="submit">Create</button>
    </form>

    <button type="submit"><a href="/new-post">New Post</a></button>
</section>

<script src="./js/new-post.js"></script>